.nav-link-underline {
    position: relative;
    text-decoration: none;
}

.nav-link-underline::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0.2rem;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: width 0.3s ease-out;
}

.nav-link-underline:hover::after,
.nav-link-underline.nav-link-active::after {
    width: calc(100% - 0.75rem);
}